@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Medium.ttf");
}

body {
  display: block;
  padding: 0;
  margin: 0;
  min-height: 100%;
  // overflow-x: hidden;
  line-height: inherit;
  font-family: "Roboto";
  background-color: #fefbed;
}
*,
:after,
:before {
  box-sizing: border-box;
}
@layer components {
  .homepage-collectible-container {
    background: linear-gradient(158deg, transparent 55%, #fcf3cc 0%);
  }

  .best-card-background-1,
  .best-card-background-2,
  .best-card-background-3 {
    display: flex;
    justify-content: center;
    padding: 16px 0px;
  }

  .best-card-background-1 {
    background: url("../../public/index/svg/best-card/red-square.svg") bottom 30px left 24px no-repeat;
  }

  .best-card-background-2 {
    background: url("../../public/index/svg/best-card/blue-square.svg") top 0px left 32px no-repeat, url("../../public/index/svg/best-card/orange-square.svg") bottom 50px right 38px no-repeat;
  }

  .best-card-background-3 {
    background: url("../../public/index/svg/best-card/purple-square.svg") bottom 0px left 32px no-repeat, url("../../public/index/svg/best-card/green-square.svg") top 50px right 18px no-repeat;
  }
  .custom-why-join-us-container {
    position: relative;
    right: 0;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(-50%, -50%);
      height: 640px;
      width: 100%;
      background-image: url("../../public/index/svg/why-join-us/why-join-us.svg");
      background-repeat: no-repeat;
      background-size: contain; // or 'cover' depending on your needs
      background-position: center;
    }
  }

  // Example media query for smaller screens
  @media (max-width: 768px) {
    .custom-why-join-us-container {
      position: relative;
      right: 20%;
      padding-top: 36px;
      &:after {
        content: "";
        position: absolute;
        top: 80%;
        left: 100%;
        transform: translate(-50%, -50%);
        height: 440px;
        width: 350px;
        background-image: url("../../public/index/svg/why-join-us/why-join-us.svg");
        background-repeat: no-repeat;
        background-size: contain; // or 'cover' depending on your needs
        background-position: center;
      }
    }
  }

  .check-svg-icon {
    position: relative;
    padding-left: 24px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 10px;
      background-image: url('data:image/svg+xml;utf8,<svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.48599 9.72989C5.35472 9.73016 5.2247 9.7045 5.10337 9.6544C4.98204 9.60429 4.87181 9.53071 4.77899 9.43789L0.536988 5.19489C0.441415 5.10271 0.365157 4.99242 0.312663 4.87046C0.26017 4.74849 0.232492 4.61729 0.231245 4.48451C0.229999 4.35174 0.255208 4.22004 0.305401 4.09711C0.355595 3.97418 0.429769 3.86248 0.523594 3.76852C0.61742 3.67456 0.729018 3.60023 0.851878 3.54986C0.974737 3.49949 1.1064 3.4741 1.23918 3.47516C1.37196 3.47622 1.50319 3.50371 1.62523 3.55603C1.74727 3.60835 1.85767 3.68445 1.94999 3.77989L5.48499 7.31489L11.85 0.951894C12.0375 0.764253 12.2919 0.658785 12.5571 0.658691C12.8224 0.658598 13.0768 0.763886 13.2645 0.951394C13.4521 1.1389 13.5576 1.39327 13.5577 1.65854C13.5578 1.92381 13.4525 2.17825 13.265 2.36589L6.19299 9.43789C6.10017 9.53071 5.98993 9.60429 5.86861 9.6544C5.74728 9.7045 5.61725 9.73016 5.48599 9.72989Z" fill="%2315803D"/></svg>');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .custom-swiper-container::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fde68a;
    display: block;
    margin: auto;
    height: 421px;
    z-index: 0;
  }

  .grow-your-collection-container {
    background: url("../../public/index/waves.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .shooes-collect-word-map-container {
    background: url("../../public/index/world-map.png") no-repeat;
  }

  @media only screen and (max-width: 640px) {
    .homepage-collectible-container {
      background: linear-gradient(148deg, transparent 40%, #fcf3cc 0%);
    }

    .best-card-background-1 {
      background: url("../../public/index/svg/best-card/red-square.svg") bottom 0px left 24px no-repeat;
    }

    .best-card-background-2 {
      background: url("../../public/index/svg/best-card/blue-square.svg") top 120px right 2px no-repeat;
    }

    .best-card-background-3 {
      background: url("../../public/index/svg/best-card/purple-square.svg") top 50px left 6px no-repeat;
    }
  }
}
